
body{
	 background-color:#E5E5E5;
	 font-family: 'Roboto';

}
.top{
	padding-left: 92px ;
	padding-right: 0px;
	overflow: hidden;
}
.block-left{
  width:422px;
  height:496px;
  background-color: #E5E5E5;
  float:left;
  background-image: url("img/pic.jpg");
  background-size: contain;

}
.block-right{
  width:50%;
  height:100vh;
  background-color: #E5E5E5;
  float:left;
  padding-left: 40px;
  padding-right: 0px;
}
p{
	font-size: 18px;
	
}
.bottom{
padding-left: 150px;
padding-bottom: 100px;
overflow: hidden;
}

.card {
  box-shadow: 5px 10px rgba(0,0,0,0.2);
  width: 70%;
  border-radius: 5px;
  background-color: white; 
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 70px;

}
h2{
	font-size: 40px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #004DE6C2;
  color: white;
  padding: 10px 63px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 660px;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


